/* styly k nacitani dat z ARES (START) */
.tl_ares{
  width: 155px;
  background-color: #4CAF50;
  color: white;
  padding: 7px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.tl_ares:hover{
  color: #FFFFFF;
}
.blok_tlacitek_popup_ares{
  position: absolute;
  left: 0px;
  bottom: 20px;
  width: 100%;
  text-align: center;
  vertical-align: top;
}
.tl_popup_ares_in{
  display: inline-block;
  vertical-align: top;
  margin: 0px 5px 0px 5px;
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
.tl_ares_vlozit{
  background-color: #bfd600;
  color: #000000;
}
.tl_ares_vlozit:hover{
  color: #FFFFFF;
}
.tl_ares_zavrit{
  background-color: grey;
  color: #000000;
}
.tl_ares_zavrit:hover{
  color: #FFFFFF;
}
.obal_radku_ares{
  display: block;
  height: 180px;
  overflow-y: auto;
}
.radek_udaju_z_ares{
  display: block;
  font-size: 14px;
  line-height: 20px;
}
.nazev_udaje_z_ares{
  float: left;
  width: 30%;
  margin-right: 2%;
  font-weight: bold;
}
.polozka_udaje_z_ares{
  float: left;
  width: 68%;  
}
.nadpis_ares{
  display: block;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0px 0px 20px 0px;
}
.ares_chybova_hlaska{
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
}
.ajax_loader_ares{
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
}
.ajax_loader_ares_in{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("img/gears.gif");
}
/* styly k nacitani dat z ARES (KONEC) */

/*--- Popup okno (START) - nektere se mohou potkat se styly v default.css ---*/
.box_obal {
  background-color: #000;
  bottom: 0;
  cursor: pointer;
  display: none;
  left: 0;
  opacity: 0.9;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 998;
}
.box_obsah {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  
  z-index: 999;
}
.box_kosik_ares{
  background-color: #fff;
  height: 330px;
  padding: 20px 50px 60px 20px;
  width: 440px;
}
.box_close{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 23px;
  height: 21px;
  cursor: pointer;
  
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("img/close.png");
}

/*--- Popup okno (KONEC) ---*/